<div class='text-justify'>
  <h1>Donaciones</h1>
  <h4>¿Te ha sido de utilidad CriptoMagic y quieres agradecernos?</h4>
  <p>A continuación te dejamos nuestras billeteras en varias monedas para que nos puedas enviar tu aporte</p>

  <table class="table table-hover">
    <thead class='thead-light'>
      <tr>
        <th>Moneda</th>
        <th>Billetera</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bitcoin (BTC)</td>
        <td>18Utqg5cznp8uK78xEsqhMmKSkvG3c24G8</td>
      </tr>
      <tr>
        <td>Ethereum (ETH)</td>
        <td>0x4eb0805176af9a0d8787aa5b0db8fd625c1b2754</td>
      </tr>
      <tr>
        <td>Litecoin (LTC)</td>
        <td>LbqkyJYsDJUxrVgJJrAALZZUK9przs1JZV</td>
      </tr>
      <tr>
        <td>NEO (NEO)</td>
        <td>AXCNJebPhKaCVnFFErjJbDhjVtJnigNyy5</td>
      </tr>
    </tbody>
  </table>

  <h4>¿Por qué aportar te ayudará?</h4>
  <p>Es muy sencillo, al ver que nuestro trabajo es recompensado podremos agregar cada vez más herramientas y funcionalidades a la aplicación para ayudarte a ti y facilitarte la obtención de más ganancias</p>
  <p>Sabemos que eres una persona que sabe apreciar un buen trabajo y que sabes que en conjunto se logran grandes cosas</p>
  <p>Desde ya muchas gracias!</p>
</div>
